<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UrlButShorter | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
      <form class="form-inline">
        <label for="urlInput">Shorten your URL!</label>
        <input
          type="text"
          class="form-control"
          id="urlInput"
          aria-describedby="urlInput"
          placeholder="Enter email"
        />

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer>&copy; Sam&Amir</footer>
  </body>
</html>
