{% extends "base.html"%} {% block title %}{{title}}{% endblock %} {% block
content %}
<section style="width: 70%; margin: auto">
  <h1 class="text-center mt-5">Welcome to the most original URL Shortener!</h1>
  <div class="welcome_container mt-5">
    <h3 style="text-align: center">
      To get started, just follow these simple steps and you will have the
      smallest viable url unqiue to just you.
    </h3>
    <div class="w-50 mt-5 mx-auto">
      <ul class="list-group-flush list-group">
        <li class="list-group-item">
          Start at the search bar here: 👉👉👉👆👆👆
        </li>
        <li class="list-group-item">
          Now type in your favourite website (for us, it has to be the official
          pytest documentation)
        </li>
        <li class="list-group-item">
          Hit send and your new url (but-short) will be generated
        </li>
        <li class="list-group-item">
          Now type in that lovely short url and watch the magic transport you
          away!
        </li>
      </ul>
    </div>
    <h6 class="text-center mt-5">
      Please Note: The link for your short url is not currently working :((
    </h6>
  </div>
</section>
{% endblock %}
